.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    margin-top: 0;
    margin-bottom: 0;
    /* max-width: auto;
    max-height: auto; */
    border: 5px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #dbd685;
  }  
  body {
    margin: 0;
    padding: 0;
  }
  h1 {
    text-align: center;
    color: #333;
  }
  
  .AddTodo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .AddTodo input {
    width: 250px;
    height: 30px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
  }
  
  .AddTodo button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .AddTodo button:hover {
    background-color: #3e8e41;
  }
  
  .TodoList {
    padding: 0;
    margin-top: 30px;
  }
  
  .TodoList li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    list-style: none;
  }
  
  .TodoList input[type='checkbox'] {
    margin-right: 10px;
    height: 20px;
    width: 20px;
  }
  
  .TodoList span {
    font-size: 16px;
    color: #333;
  }
  
  .TodoList .completed {
    text-decoration: line-through;
    color: #ccc;
  }
  
  .TodoList button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .TodoList button:hover {
    background-color: #d32f2f;
  }